\#*
.\#*
dwim
DB
classes
Runs/
Data/*
TDB-DB/*
TDB-DB-all
Sesame-DB/*
lib/*
Results/*
Reports/*
run.log
dataset.ttl
td_data
steadystate.tsv
benchmark_result.xml
bin
*.html
build
target
results-backup-*.zip
Q*.rq
res-*.xml
LOG*
/jena-tdb.jar
